@import "vars";
@import "mixins";
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  transition: all 0.5s ease;
  .logo {
    height: 80px;
    padding: 0 50px;
    img {
      height: 40px;
      top: 20px;
      position: absolute;
      opacity: 0;
      transition: all 0.5s ease;
      &.white {
        opacity: 1;
      }
    }
  }
  &.on {
    color: #111;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    .logo {
      img {
        &.white {
          opacity: 0;
        }
        &.black {
          opacity: 1;
        }
      }
    }
  }
}
.gnb {
  .list {
    display: flex;
    li {
      a {
        display: flex;
        align-items: center;
        //border: 1px solid #fff;
        height: 80px;
        padding: 0 40px;
        font-size: $h4;
        font-weight: 500;
        //box-sizing: border-box;
      }
    }
  }
}

.footer {
  background-color: #111;
  color: rgba(255, 255, 255, 0.75);
  padding: 150px 0;
  .upper {
    display: flex;
    //align-items: start;//디폴트값 스트레치 넓이를 맞춰줌
    .menu-box {
      width: 50%;
      .list {
        display: flex;
        flex-wrap: wrap; //넓이를 줘야함 넓이보다 부족하면 아래로 떨어짐
        > li {
          width: 50%;
          margin-bottom: 50px;
          &:nth-child(1) {
            order: 1;
          }
          &:nth-child(2) {
            order: 3;
          }
          &:nth-child(3) {
            order: 2;
          }
          &:nth-child(4) {
            order: 4;
          }
          &:nth-child(5) {
            order: 5;
          }
        }
        .depth01 {
          font-size: $h3;
          font-weight: 700;
          &::after {
            @include icon("\f1df");
            display: inline-block;
          }
        }
        .depth02 {
          margin-top: 30px;
          li {
            a {
              font-size: $h4;
              padding: 10px 0;
              display: block;
              // inline태그 a,span,strong,em ,input태그들은 display: block;으로 바꿔야 패딩같은 위아래간격처리를 할숭ㅆ음 , 좌우는 잘됨, 넓이 높이 설정불가 블록처럼 밑으로 떨어지지않고 넓이 높이만 다르게 처리하려면 inline-block
            }
          }
        }
      }
    }
  }
  .inquiry {
    position: relative;
    background-color: #222;
    width: 50%;
    flex-grow: 1; //여백이 얼마나남았는지모르지만 여백다가져감 다른곳에 2주고 여기다 1주면 1/3 2/3 씩가져감
    padding: 80px;
    font-size: $h4;
    .main {
      font-size: $h2;
      font-weight: 700;
    }
    .more {
      position: absolute;
      right: 80px;
      bottom: 80px;
    }
  }
  .lower {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    padding-top: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    address {
      font-family: "Noto Sans KR";

      .info-box {
        display: flex;
        margin: 10px 0;
      }
      dl {
        display: flex;
        align-items: center;
        margin-right: 20px;
      }
    }
    .copyright {
      font-size: 15px;
    }
  }
}
