body {
  font-family: "Noto Sans KR";
  background-color: #000;
}

.header {
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}