.header {
  background-color: #000;
  position: fixed;
  display: flex;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  transition: all 0.5s ease;
}
.header .logo {
  border: solid 1px #1f1;
  height: 80px;
}
.header .logo img {
  margin-left: 100px;
  height: 40px;
  top: 20px;
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease;
}
.header .logo img.white {
  opacity: 1;
}
.header.on {
  color: #111;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.header.on .logo img.white {
  opacity: 0;
}
.header.on .logo img.black {
  opacity: 1;
}
.header .list {
  display: flex;
}
.header .list li a {
  border: solid 1px #1f1;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 40px;
  font-size: 20px;
  font-weight: 500;
}