.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  overflow: hidden;
  z-index: 101;
  transition: all 0.25s ease;
}
.header:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: 80px;
}
.header.on {
  height: 350px;
  background-color: rgb(255, 255, 255);
}
.header.on .list {
  color: #000;
}
.header.on .logo a .blue {
  opacity: 1;
}
.header.on .logo a .white {
  opacity: 0;
}
.header .logo {
  height: 80px;
  padding: 0 50px;
}
.header .logo img {
  height: 40px;
  top: 20px;
  position: absolute;
  opacity: 0;
}
.header .logo img.white {
  opacity: 1;
}
.header .gnb .list {
  display: flex;
  justify-content: center;
}
.header .gnb .list li .depth01 {
  position: relative;
  font-size: 20px;
  font-weight: 300;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  transition: all 0.25s ease;
}
.header .gnb .list li:hover .depth01 {
  color: #0b7bff;
}
.header .gnb .list li .depth02 {
  text-align: center;
  text-align: left;
}
.header .gnb .list li .depth02 li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: all 0.25s ease;
}
.header .gnb .list li .depth02 li a:hover {
  color: #0b7bff;
}
.header .util-menu {
  display: flex;
  position: relative;
  align-items: end;
  height: 300px;
  width: 250px;
}
.header .util-menu ul {
  width: 100%;
}
.header .util-menu ul li {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}
.header .util-menu ul li:nth-child(1) {
  background-color: #0b7bff;
}
.header .util-menu ul li:nth-child(2) {
  background-color: #ca9cb7;
}
.header .util-menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 20px;
  transition: all 0.25s ease;
}